<ngx-cdk-table
  [dataSource]="dataSource"
  [tableOptions]="editTableOptions"
  [columnOptions]="editColumnOptions"
  (eventAction)="tableEvents($event)"
>
</ngx-cdk-table>

<ngx-cdk-table
  class="selection-table"
  *ngIf="selectedDataSource.length > 0; else noData"
  [dataSource]="selectedDataSource"
  [tableOptions]="tableOptions"
  [columnOptions]="columnOptions"
  (eventAction)="tableEvents($event)"
></ngx-cdk-table>

<ng-template #noData>
  <div class="no-data">
    <mat-icon>info</mat-icon>
    <span>Não há dados para exibir</span>
  </div>
</ng-template>

<ul>
  <li
    [class.selected]="item.selected"
    style="margin-top: 5px"
    *ngFor="let item of dataSource"
  >
    {{ item | json }}
  </li>
</ul>
