:host {
  .selected {
    color: blue;
    font-weight: bold;

    & > * {
      font-weight: bold;
      color: blue;
      & > * {
        font-weight: bold;
        color: blue;
      }
    }
  }
  ::ng-deep {
    table {
      width: 100%;
      border-collapse: collapse;

      .selected {
        & > * {
          font-weight: bold;
          color: blue;
          & > * {
            font-weight: bold;
            color: blue;
          }
        }
      }

      .cdk-column-name,
      .cdk-column-surname {
        max-width: 50px;
        overflow: hidden;
      }
      .cdk-column-selected {
        width: unset;
      }
      .cdk-column-selected,
      .cdk-column-id {
        max-width: 100px;
        text-align: center;
      }

      .cdk-column-id .mat-sort-header-container {
        justify-content: center !important;
        width: 100%;
      }
      &:not(th) {
        .bold {
          font-weight: bold;
        }

        .red {
          color: red;
        }
        .green {
          color: green;
        }
      }

      th {
        text-align: left;
        padding: 10px;
        border-bottom: 1px solid #ddd;
      }

      td {
        padding: 10px;
        border-bottom: 1px solid #ddd;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2;
      }

      tr:not(.cdk-header-row):hover {
        background-color: #ddd;
      }

      td,
      th {
        width: 100%;
      }

      .cdk-column-name,
      .cdk-column-surname {
        width: 43%;
      }
    }
  }
}
